ANTHROPIC_API_KEY=sk-ant-...
COMPANIES_HOUSE_API_KEY=
COMPANIES_HOUSE_BASE_URL=https://api-sandbox.company-information.service.gov.uk
ISSUER_PRIV_KEY=
ISSUER_PUB_KEY=
REPUTABILITY_THRESHOLD=4
FUNDING_BRACKET_THRESHOLD=500k_2m
